*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/*splash screen*/

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 2s;
    background-image: url(Images/bg11.jpg);
    background-size: 100%;
    font-size: 1.6rem;    

}

.logo-header {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding-bottom: 100px;
    background: -webkit-linear-gradient(#fffefe, #595353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
}

.logo {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 4s;
}

.stdeets {
    color: rgb(162, 162, 162);
    font-size: 23px;
    padding-top: 520px;
    padding-left: 30px;
    text-shadow: 3px 3px  #595353;
}




